In [24]:
import pandas as pd
import plotly as pt
import folium
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
confirmed_cases = pd.read_csv('time_series_covid19_confirmed_global.csv')
# print(confirmed_cases.head(15))

country_coordinates = {}

for index,row in confirmed_cases.iterrows():
    if row['Country/Region'] in country_coordinates:
        pass
    else:
        country_coordinates[row['Country/Region']] = (row.Lat, row.Long)

country_coordinates

{'Afghanistan': (33.93911, 67.709953),
 'Albania': (41.1533, 20.1683),
 'Algeria': (28.0339, 1.6596),
 'Andorra': (42.5063, 1.5218),
 'Angola': (-11.2027, 17.8739),
 'Antarctica': (-71.9499, 23.347),
 'Antigua and Barbuda': (17.0608, -61.7964),
 'Argentina': (-38.4161, -63.6167),
 'Armenia': (40.0691, 45.0382),
 'Australia': (-35.4735, 149.0124),
 'Austria': (47.5162, 14.5501),
 'Azerbaijan': (40.1431, 47.5769),
 'Bahamas': (25.025885, -78.035889),
 'Bahrain': (26.0275, 50.55),
 'Bangladesh': (23.685, 90.3563),
 'Barbados': (13.1939, -59.5432),
 'Belarus': (53.7098, 27.9534),
 'Belgium': (50.8333, 4.469936),
 'Belize': (17.1899, -88.4976),
 'Benin': (9.3077, 2.3158),
 'Bhutan': (27.5142, 90.4336),
 'Bolivia': (-16.2902, -63.5887),
 'Bosnia and Herzegovina': (43.9159, 17.6791),
 'Botswana': (-22.3285, 24.6849),
 'Brazil': (-14.235, -51.9253),
 'Brunei': (4.5353, 114.7277),
 'Bulgaria': (42.7339, 25.4858),
 'Burkina Faso': (12.2383, -1.5616),
 'Burma': (21.9162, 95.956),
 'Burundi': (-3.3731, 29.9189),
 'Cabo Verde': (16.5388, -23.0418),
 'Cambodia': (11.55, 104.9167),
 'Cameroon': (3.848, 11.5021),
 'Canada': (53.9333, -116.5765),
 'Central African Republic': (6.6111, 20.9394),
 'Chad': (15.4542, 18.7322),
 'Chile': (-35.6751, -71.543),
 'China': (31.8257, 117.2264),
 'Colombia': (4.5709, -74.2973),
 'Comoros': (-11.6455, 43.3333),
 'Congo (Brazzaville)': (-0.228, 15.8277),
 'Congo (Kinshasa)': (-4.0383, 21.7587),
 'Costa Rica': (9.7489, -83.7534),
 "Cote d'Ivoire": (7.54, -5.5471),
 'Croatia': (45.1, 15.2),
 'Cuba': (21.521757, -77.781167),
 'Cyprus': (35.1264, 33.4299),
 'Czechia': (49.8175, 15.473),
 'Denmark': (61.8926, -6.9118),
 'Diamond Princess': (0.0, 0.0),
 'Djibouti': (11.8251, 42.5903),
 'Dominica': (15.415, -61.371),
 'Dominican Republic': (18.7357, -70.1627),
 'Ecuador': (-1.8312, -78.1834),
 'Egypt': (26.820553, 30.802498),
 'El Salvador': (13.7942, -88.8965),
 'Equatorial Guinea': (1.6508, 10.2679),
 'Eritrea': (15.1794, 39.7823),
 'Estonia': (58.5953, 25.0136),
 'Eswatini': (-26.5225, 31.4659),
 'Ethiopia': (9.145, 40.4897),
 'Fiji': (-17.7134, 178.065),
 'Finland': (61.92411, 25.748151),
 'France': (3.9339, -53.1258),
 'Gabon': (-0.8037, 11.6094),
 'Gambia': (13.4432, -15.3101),
 'Georgia': (42.3154, 43.3569),
 'Germany': (51.165691, 10.451526),
 'Ghana': (7.9465, -1.0232),
 'Greece': (39.0742, 21.8243),
 'Grenada': (12.1165, -61.679),
 'Guatemala': (15.7835, -90.2308),
 'Guinea': (9.9456, -9.6966),
 'Guinea-Bissau': (11.8037, -15.1804),
 'Guyana': (4.860416, -58.93018),
 'Haiti': (18.9712, -72.2852),
 'Holy See': (41.9029, 12.4534),
 'Honduras': (15.2, -86.2419),
 'Hungary': (47.1625, 19.5033),
 'Iceland': (64.9631, -19.0208),
 'India': (20.593684, 78.96288),
 'Indonesia': (-0.7893, 113.9213),
 'Iran': (32.427908, 53.688046),
 'Iraq': (33.223191, 43.679291),
 'Ireland': (53.1424, -7.6921),
 'Israel': (31.046051, 34.851612),
 'Italy': (41.87194, 12.56738),
 'Jamaica': (18.1096, -77.2975),
 'Japan': (36.204824, 138.252924),
 'Jordan': (31.24, 36.51),
 'Kazakhstan': (48.0196, 66.9237),
 'Kenya': (-0.0236, 37.9062),
 'Kiribati': (-3.3704, -168.734),
 'Korea, North': (40.3399, 127.5101),
 'Korea, South': (35.907757, 127.766922),
 'Kosovo': (42.602636, 20.902977),
 'Kuwait': (29.31166, 47.481766),
 'Kyrgyzstan': (41.20438, 74.766098),
 'Laos': (19.85627, 102.495496),
 'Latvia': (56.8796, 24.6032),
 'Lebanon': (33.8547, 35.8623),
 'Lesotho': (-29.61, 28.2336),
 'Liberia': (6.428055, -9.429499),
 'Libya': (26.3351, 17.228331),
 'Liechtenstein': (47.14, 9.55),
 'Lithuania': (55.1694, 23.8813),
 'Luxembourg': (49.8153, 6.1296),
 'MS Zaandam': (0.0, 0.0),
 'Madagascar': (-18.766947, 46.869107),
 'Malawi': (-13.2543, 34.3015),
 'Malaysia': (4.210484, 101.975766),
 'Maldives': (3.2028, 73.2207),
 'Mali': (17.570692, -3.996166),
 'Malta': (35.9375, 14.3754),
 'Marshall Islands': (7.1315, 171.1845),
 'Mauritania': (21.0079, -10.9408),
 'Mauritius': (-20.348404, 57.552152),
 'Mexico': (23.6345, -102.5528),
 'Micronesia': (7.4256, 150.5508),
 'Moldova': (47.4116, 28.3699),
 'Monaco': (43.7333, 7.4167),
 'Mongolia': (46.8625, 103.8467),
 'Montenegro': (42.708678, 19.37439),
 'Morocco': (31.7917, -7.0926),
 'Mozambique': (-18.665695, 35.529562),
 'Namibia': (-22.9576, 18.4904),
 'Nauru': (-0.5228, 166.9315),
 'Nepal': (28.1667, 84.25),
 'Netherlands': (12.5211, -69.9683),
 'New Zealand': (-21.2367, -159.7777),
 'Nicaragua': (12.865416, -85.207229),
 'Niger': (17.607789, 8.081666),
 'Nigeria': (9.082, 8.6753),
 'North Macedonia': (41.6086, 21.7453),
 'Norway': (60.472, 8.4689),
 'Oman': (21.512583, 55.923255),
 'Pakistan': (30.3753, 69.3451),
 'Palau': (7.515, 134.5825),
 'Panama': (8.538, -80.7821),
 'Papua New Guinea': (-6.314993, 143.95555),
 'Paraguay': (-23.4425, -58.4438),
 'Peru': (-9.19, -75.0152),
 'Philippines': (12.879721, 121.774017),
 'Poland': (51.9194, 19.1451),
 'Portugal': (39.3999, -8.2245),
 'Qatar': (25.3548, 51.1839),
 'Romania': (45.9432, 24.9668),
 'Russia': (61.52401, 105.318756),
 'Rwanda': (-1.9403, 29.8739),
 'Saint Kitts and Nevis': (17.357822, -62.782998),
 'Saint Lucia': (13.9094, -60.9789),
 'Saint Vincent and the Grenadines': (12.9843, -61.2872),
 'Samoa': (-13.759, -172.1046),
 'San Marino': (43.9424, 12.4578),
 'Sao Tome and Principe': (0.1864, 6.6131),
 'Saudi Arabia': (23.885942, 45.079162),
 'Senegal': (14.4974, -14.4524),
 'Serbia': (44.0165, 21.0059),
 'Seychelles': (-4.6796, 55.492),
 'Sierra Leone': (8.460555, -11.779889),
 'Singapore': (1.2833, 103.8333),
 'Slovakia': (48.669, 19.699),
 'Slovenia': (46.1512, 14.9955),
 'Solomon Islands': (-9.6457, 160.1562),
 'Somalia': (5.152149, 46.199616),
 'South Africa': (-30.5595, 22.9375),
 'South Sudan': (6.877, 31.307),
 'Spain': (40.463667, -3.74922),
 'Sri Lanka': (7.873054, 80.771797),
 'Sudan': (12.8628, 30.2176),
 'Summer Olympics 2020': (35.6491, 139.7737),
 'Suriname': (3.9193, -56.0278),
 'Sweden': (60.128161, 18.643501),
 'Switzerland': (46.8182, 8.2275),
 'Syria': (34.802075, 38.996815),
 'Taiwan*': (23.7, 121.0),
 'Tajikistan': (38.861, 71.2761),
 'Tanzania': (-6.369028, 34.888822),
 'Thailand': (15.870032, 100.992541),
 'Timor-Leste': (-8.874217, 125.727539),
 'Togo': (8.6195, 0.8248),
 'Tonga': (-21.179, -175.1982),
 'Trinidad and Tobago': (10.6918, -61.2225),
 'Tunisia': (33.886917, 9.537499),
 'Turkey': (38.9637, 35.2433),
 'Tuvalu': (-7.1095, 177.6493),
 'US': (40.0, -100.0),
 'Uganda': (1.373333, 32.290275),
 'Ukraine': (48.3794, 31.1656),
 'United Arab Emirates': (23.424076, 53.847818),
 'United Kingdom': (18.2206, -63.0686),
 'Uruguay': (-32.5228, -55.7658),
 'Uzbekistan': (41.377491, 64.585262),
 'Vanuatu': (-15.3767, 166.9592),
 'Venezuela': (6.4238, -66.5897),
 'Vietnam': (14.058324, 108.277199),
 'West Bank and Gaza': (31.9522, 35.2332),
 'Winter Olympics 2022': (39.9042, 116.4074),
 'Yemen': (15.552727, 48.516388),
 'Zambia': (-13.133897, 27.849332),
 'Zimbabwe': (-19.015438, 29.154857)}

In [26]:
confirmed_cases_by_country = confirmed_cases.groupby("Country/Region").sum(numeric_only=True)\
                                            .drop(columns=['Lat', 'Long'])
confirmed_cases_by_country.head(15)

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
Albania,0,0,0,0,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
Algeria,0,0,0,0,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
Andorra,0,0,0,0,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
Angola,0,0,0,0,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
Antarctica,0,0,0,0,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11
Antigua and Barbuda,0,0,0,0,0,0,0,0,0,0,...,9106,9106,9106,9106,9106,9106,9106,9106,9106,9106
Argentina,0,0,0,0,0,0,0,0,0,0,...,10044125,10044125,10044125,10044125,10044125,10044125,10044957,10044957,10044957,10044957
Armenia,0,0,0,0,0,0,0,0,0,0,...,446819,446819,446819,446819,446819,446819,446819,446819,447308,447308
Australia,0,0,0,0,4,5,5,6,9,9,...,11366361,11366361,11384901,11385534,11385534,11385534,11385534,11385534,11385534,11399460
Austria,0,0,0,0,0,0,0,0,0,0,...,5911294,5919616,5926148,5931247,5936666,5940935,5943417,5949418,5955860,5961143
Azerbaijan,0,0,0,0,0,0,0,0,0,0,...,828548,828588,828628,828648,828682,828721,828730,828783,828819,828825
Bahamas,0,0,0,0,0,0,0,0,0,0,...,37491,37491,37491,37491,37491,37491,37491,37491,37491,37491
Bahrain,0,0,0,0,0,0,0,0,0,0,...,707480,707828,708061,708532,708768,709230,709230,709858,710306,710693
Bangladesh,0,0,0,0,0,0,0,0,0,0,...,2037773,2037829,2037829,2037829,2037829,2037829,2037829,2037829,2037871,2037871

In [27]:
list(confirmed_cases_by_country.columns)
def date_converter(date_str):
    month_map = {
    '1': "January",
    '2': "February",
    '3': "March",
    '4': "April",
    '5': "May",
    '6': "June",
    '7': "July",
    '8': "August",
    '9': "September",
    '10': "October",
    '11': "November",
    '12': "December"
    }

    split_date = date_str.split('/')

    return month_map[split_date[0]] + split_date[-1]

In [28]:
month_list = []
for i in confirmed_cases_by_country.columns:
    month_list.append(date_converter(i))

confirmed_cases_by_country.columns = month_list

month_set = set()
for i in month_list:
    month_set.add(i)

In [29]:
monthly_data_df = pd.DataFrame()
monthly_data_df

Empty DataFrame
Columns: []
Index: []

In [30]:
month_set
# for col in columns:

{'April20',
 'April21',
 'April22',
 'August20',
 'August21',
 'August22',
 'December20',
 'December21',
 'December22',
 'February20',
 'February21',
 'February22',
 'February23',
 'January20',
 'January21',
 'January22',
 'January23',
 'July20',
 'July21',
 'July22',
 'June20',
 'June21',
 'June22',
 'March20',
 'March21',
 'March22',
 'March23',
 'May20',
 'May21',
 'May22',
 'November20',
 'November21',
 'November22',
 'October20',
 'October21',
 'October22',
 'September20',
 'September21',
 'September22'}

In [13]:
confirmed_cases_by_country.head()

,January20,January20,January20,January20,January20,January20,January20,January20,January20,January20,...,February23,March23,March23,March23,March23,March23,March23,March23,March23,March23
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
Albania,0,0,0,0,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
Algeria,0,0,0,0,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
Andorra,0,0,0,0,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
Angola,0,0,0,0,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

In [11]:
nigerian_center=[9.0778,8.6775]
globe = folium.Map(zoom_start=3)
display(globe)